body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
 }
 
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

/* NAV & FOOTER */
nav {
  background-color: #101357;
}

a.nav-link {
  color: #FEFFFF !important;
  cursor: pointer;
  font-size: 1.5rem;
}

a.nav-link:hover {
  color: #fea49f !important;
}

nav button {
  border-color: #fea49f !important;
  font-family: 'Quicksand', sans-serif;
  color: #fea49f !important;
  font-weight: bolder;
  font-size: 1.5rem !important;
}

footer {
  text-align: center;
  padding: 1%;
  border-top: 1px solid #101357;
  background-color: #fea49f;
  color: #101357;
}

/* SPLASH */
#splash, #about, #projects {
  height: 100vh;
}

#splash {
  background-color: #fea49f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-box img {
  width: 60vw;
  height: auto;
}

/* ABOUT SECTION */
#about {
  position: relative;
  width: 100vw;
  height: 110vh;
  background-image: url("assets/images/b.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.me {
  display: flex;
  justify-content: center;
}

.me img {
  position: absolute;
  height: 70vh;
  top: 18vh;
}

.introduction {
  background-color: #007f4f;
  color: #FEFFFF;
  height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.bio {
  text-align: center;
}

.bio p {
  font-size: 1.5rem;
}

.accordion {
  margin: auto auto;
  width: 80%;
  padding: 5%;
  background-color: transparent;
  color: #FEFFFF;
}

.accordion .card {
  border-radius: 0;
  background-color: #101357;
  border-radius: 10px;
  border: 1px solid #FEFFFF;
}

.accordion .card-header {
  cursor: pointer;
}

.card-header button {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  font-family: 'Quicksand', sans-serif;
  color: #FEFFFF;
  text-align: center;
  text-decoration: none;
}

.btn-link {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
}

.card-header:hover, .card-header:hover .btn-link {
  cursor: pointer;
  text-decoration: none;
  background-color: #007f4f;
  color: #FEFFFF;
}

.card-body {
  background-color: #007f4f;
}

/* Projects section */
#projects {
  background-color: #101357;
  padding: 2%;
  height: 100vh;
}

#projects h1 {
  text-align: center;
  color: #FEFFFF;
  margin-bottom: 1%;
  font-size: 4rem;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.frame {
  border: 1px solid #00a0a0;
  color: #FEFFFF;
  width: 450px;
  height: 500px;
  margin-bottom: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.frame img {
  height: 70%;
  width: auto;
  border-radius: 5px;
}

.frame p {
  font-size: 1.1rem;
  padding-left: 1%;
  padding-right: 1%;
}

img.camping, img.salon {
  width: 90%;
  height: auto;
}

img.pokemon {
  height: 65%;
  width: auto;
}

.frame a, .frame a:hover {
  color: #fea49f;
}

/* media queries for responsive design */
@media only screen and (min-width: 935px) and (max-width: 1875px) {
  #projects {
    height: 110vh;
  }
}

@media only screen and (min-width: 500px) and (max-width: 935px) {
  #projects {
    height: 215vh;
  }
}

@media only screen and (max-width: 780px) {
  .bio {
    margin-top: 1%;
  }
  .introduction {
    height: 110vh;
  }
}

@media only screen and (max-width: 500px) {
  .me {
    height: 60vh;
    width: 100vw;
  }
  .me img {
    width: 100%;
    height: auto;
    top: 0vh;
  }
  .introduction {
    height: 100vh;
    align-items: flex-start;
  }
  .bio h2 {
    margin-top: 1%;
  }
  #projects {
    height: 400vh;
  }
}