body {
  font-family: 'Lora', serif;
 }

/* NAV & FOOTER */
nav {
  /* background-color: rgb(226,166,118); */
  border-bottom: 2px solid rgb(211, 173, 143);
  background-color: rgb(30,44,46);
}

a.nav-link {
  /* color: rgb(30,44,46) !important; */
  color: rgb(211, 173, 143) !important;
  cursor: pointer;
  font-size: 1.5rem;
}

a.nav-link:hover {
  color: rgb(158,85,56) !important;
}

nav button {
  border-color: rgb(211, 173, 143) !important;
  font-family: 'Quicksand', sans-serif;
  color: rgb(211, 173, 143) !important;
  font-weight: bolder;
  font-size: 1.5rem !important;
}

footer {
  text-align: center;
  padding: 1%;
  background-color: rgb(211, 173, 143);
  color: rgb(30,44,46);
  /* border-top: 2px solid rgb(244,240,237); */
}

/* SPLASH */
#splash, #about, #projects {
  height: 100vh;
}

#splash {
  background-image: url("assets/images/t.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-box img {
  width: 70vw;
  height: auto;
}

/* ABOUT SECTION */
#about {
  position: relative;
  width: 100vw;
  height: 110vh auto;
  background-image: url("assets/images/b1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.me {
  display: flex;
  justify-content: center;
}

.me img {
  border-radius: 10px;
  position: absolute;
  height: 50vh;
  top: 15vh;
}

.introduction {
  color: rgb(30,44,46);
  width: 100%;
  display: flex;
  align-items: center;
}

.bio {
  position: absolute;
  top: 10vh;
  text-align: center;
  margin: 2%;
}

.bio h1 {
  font-size: 2rem;
}

.bio p a, .bio p a:hover {
  color: rgb(30,44,46);
  text-decoration: underline;
}

.accordion {
  margin: auto auto;
  width: 80%;
  padding: 5%;
  background-color: transparent;
  color: rgb(30,44,46);
}

.accordion .card {
  border-radius: 0;
  background-color:  rgb(211, 173, 143);
  border-radius: 10px;
  border: 1px solid rgb(30,44,46);
}

.accordion .card-header {
  cursor: pointer;
}

.card-header button {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  color: rgb(30,44,46);
  text-align: center;
  text-decoration: none;
}

.btn-link {
  height: 100%;
  width: 100%;
}

.card-header:hover, .card-header:hover .btn-link {
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(30,44,46);
  color: rgb(211, 173, 143);
}

.card-body {
  color: rgb(211, 173, 143);
  background-color: rgb(30,44,46);
}

/* Projects section */
#projects {
  background-color: rgb(30,44,46);
  padding: 2%;
}

#projects h2 {
  text-align: center;
  color: rgb(211, 173, 143);
  margin-bottom: 1%;
  font-size: 4rem;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.frame {
  border: 1px solid rgb(211, 173, 143);
  border-radius: 10px;
  color: rgb(211, 173, 143);
  width: 350px;
  height: 450px;
  margin-bottom: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.frame h4 {
  color: rgb(211, 173, 143);
}

.frame img {
  width: 70%;
  height: auto;
  border-radius: 5px;
}

.frame p {
  font-size: 1.1rem;
  padding-left: 1%;
  padding-right: 1%;
}

img.camping, img.salon {
  width: 90%;
  height: auto;
}

.frame a, .frame a:hover {
  font-family: 'Quicksand', sans-serif;
  color: rgb(208,205,188);
}

/* media queries for responsive design */

@media screen and (min-width: 1600px) {
  #projects {
    height: auto;
  }
}

@media screen and (min-width: 766px) and (max-width: 1200px) {
  .me img {
    top: 2vh;
    width: 100%;
    height: auto;
  }
  .bio {
    position: relative;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1680px) {
  .card-header  {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .card-body {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .card-body p {
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 1500px) {
  #projects {
    height: auto;
    position: relative;
  }
  .me img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1450px) {
  #skills-list {
    padding-top: 0;
  }
  .bio {
    top: 1vh;
  }
  .me img {
    top: 5vh;
  }
}

@media screen and (max-width: 1200px) {
  #about {
    background-attachment: scroll;
    height: auto;
  }
  .me {
    background-attachment: scroll;
  }
  .bio {
    position: relative;
    align-items: flex-start;
    top: 0vh;
  }
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
  #splash {
    height: 50vh;
  }
  .me img {
    width: 100%;
    height: auto;
    top: 5vh;
  }
  .bio {
    position: relative;
    align-items: center;
    top: 0vh;
  }
}

@media screen and (max-width: 770px) and (max-height: 1024px) {
  .me img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 765px) {
  .me {
    height: 50vh;
    width: 100vw;
    background-image: url("assets/images/me.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .me img {
    display: none;
  }
  .bio {
    margin-top: 1%;
  }
  .introduction {
    align-items: flex-start;
  }
}

@media screen and (max-width: 500px) {
  #splash {
    height: 50vh;
  }
  .me {
    height: 60vh;
    width: 100vw;
  }
  .introduction {
    align-items: flex-start;
  }
  .introduction p {
    font-size: 1rem;
  }
  .bio h2 {
    margin-top: 1%;
  }
  #projects h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 415px) {
  #splash {
    height: 50vh;
  }
  .me {
    height: 60vh;
    width: 100vw;
  }
  .introduction {
    align-items: flex-start;
  }
  .introduction p {
    font-size: 1rem;
  }
  .bio h2 {
    margin-top: 1%;
  }
}

@media screen and (max-width: 375px) {
  #splash {
    height: 50vh;
    width: 100vw;
  }
  .me {
    height: 50vh;
  }
  .introduction {
    align-items: flex-start;
    width: 100vw;
  }
  .introduction p {
    font-size: 1rem;
  }
  .bio {
    height: 100%;
  }
  .bio h2 {
    margin-top: 1%;
  }
}